/* 폼 전체 정렬 */
.auth_form_container {
    width: 100%;
    height: 35vh;
    margin-top: 4vh;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* 이메일 및 비밀번호 공통 입력창 스타일 */
.auth_email,
.auth_password {
    all: unset;

    width: 100%;
    height: 8.5vh;
    padding: 1vh 2vw;

    border: 0.2vh solid var(--font2-color);
    border-radius: 2vh;
    box-sizing: border-box;
}

.auth_email:focus,
.auth_password:focus {
    outline: none;
    border-color: var(--secondary-color);
}

/* 로그인 버튼 스타일 */
.auth_btn {
    all: unset;

    width: 100%;
    height: 8vh;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--primary-color);
    color: var(--font1-color);
    border-radius: 2vh;
    border: none;
    font-size: 2vh;

    cursor: pointer;
    transition: background-color 0.2s ease;
}

/* 에러 메시지 */
.auth_error {
    min-height: 1.5vh;
    margin: 0 2vw;

    display:inline-flex;
    
    color: #ef4444;
    font-size: 1.5vh;
}