.footer-section {
    width: 100%;
    height: 33.6vh;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-textBox {
    width: 83.3vw;
    
    display: flex;
    justify-content: space-between;
}

.footer-textGroup {
    display: flex;
    gap: 4.16vw;
}

.footer-copyright {
    display: flex;
    gap: 0.52vw;
}

.footer-text {
    color: var(--font2-color);
    font-size: 1.48vh;
    font-weight: bold;
}