/* 전체 섹션 */
.member-section {
    width: 100%;
    min-height: 92.6vh;
    padding-bottom: 2.7vh;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.member-title {
    margin-top: 5.4vh;
    margin-bottom: 3vh;

    color: var(--font1-color);
    font-size: 6.9vh;
    font-weight: bold;
    user-select: none;
}

.member-box {
    position: relative;
    z-index: 1;

    width: 50vw;

    display: flex;
}

.member-tabs {
    left: 0;
    z-index: 10;

    width: 50vw;
    min-height: 59.8vh;
    height: auto;

    display: flex;
    justify-content: center;
    align-items: center;

    border: 0.052vw solid var(--secondary-color);
    border-radius: 0.52vw;
    box-shadow: 0vw 0.208vw 0.208vw 0vw rgba(0, 0, 0, 0.25);
    background-color: #FFD3E5;
}

.member-tabs.active {
    padding: 4.074vh 0;

    display: flex;
    justify-content: center;
    align-items: flex-start;

    background-color: white;
}

.member-gif {
    width: 53.9vh;
    height: 53.9vh;
}

.member-table {
    width: 43.4375vw;

    border-collapse: collapse;
    color: var(--font1-color);
}

.member-table th, 
.member-table td {
    text-align: center;      
    vertical-align: middle;  
}

.member-table th {
    height: 6.85vh;

    font-size: 2.59vh;
    font-weight: 500;
    border-bottom: 0.37vh solid var(--secondary-color);
    user-select: none;
}

.member-table tr {
    height: 5.74vh;

    font-size: 2.22vh;
    border-bottom: 0.37vh solid #E6E6E6;
}

.member-table tr:last-of-type {
    border-bottom: none;
}

.member-table td {
    width: 10vw;
}

.member-table td:nth-of-type(3), 
.member-table th:nth-of-type(3) {
    position: relative;

    width: 3vw;
}

.member-mark-box {
    position: absolute;
    top: 0;
    right: -6.2vw;

    width: 8.8vw;
    height: auto;
    padding: 2.87vh 0;

    display: flex;
    flex-direction: column;
    gap: 0.37vh;

    cursor: pointer;
}

.member-bookmark {
    position: relative;
    z-index: 1;

    width: 7.8vw;
    height: 4.63vh;
    padding-right: 2vw;

    display: flex;
    justify-content: flex-end;
    align-items: center;

    background-color: #B9DDFF;
    border: 0.1vh solid #9AB5D8;
    border-radius: 0.52vw;
    font-size: 1.85vh;
    font-weight: bold;
    color: var(--font1-color);
    user-select: none;
}

.member-bookmark.active {
    z-index: 11; 
    background-color: #EDF6FF;
}

.member-crownIcon {
    position: absolute;
    left: -2vw;
    bottom: 1.8vh;

    width: 1.5vw;
    height: 2vh;
}

.member-role {
    position: absolute;
    left: -1.62vw;
    bottom: 1.6vh;

    font-size: 1.2vh;
    color: var(--font1-color);
}