.header-section {
    width: 10w;
    height: 8vh;
    padding: 0 9vw;

    display: flex;
    justify-content: space-between;
    align-items: center;
    
    user-select: none;
}

.header-textlogo {
    width: auto;
    height: 4vh;

    object-fit: cover;
}

.header-navBox {
    display: flex;
    align-items: center;
}

.header-nav {
    margin-left: 3.75vw;
    font-size: 1.8vh;
    cursor: pointer;
}