.header-section {
    width: 10w;
    height: 8vh;
    padding: 0 9vw;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-textlogo {
    width: 10vw;
    height: 3.5vh;

    background-color: #D9D9D9;
    font-size: 1.75vh;
}

.header-navBox {
    display: flex;
    align-items: center;
}

.header-nav {
    margin-left: 3.75vw;
    font-size: 1.8vh;
    cursor: pointer;
}